{% load staticfiles %}
<!--DOCTYPE HTML -->
<html>
<head>
<title>{% block title %}Django Project{% endblock title %}</title>
<link href="{% static 'style.css' %}" rel="stylesheet" type="text/css" media="screen" />
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

</head>
<body>
 <div id='menu'>
 {% block menu %}
 <ul class="css-menu-3">
<li><a href="{% url 'list' %}">Главная</a></li>
<li><a href="{% url 'create' %}">Создать запись</a></li>
<li><a href="{% url 'email' %}">Отправить жалобу или предложение</a></li>
<ul class = 'auth'>
{% if username %}
<li><a href="{% url 'logout' %}">Выйти {{ username }}</a></li>
{% else %}
<li><a href="{% url 'login' %}">Войти</a></li>
{% endif %}
</ul>
</ul>
 {% endblock menu %}
 </div>
{% block article_content %}
	
{% endblock article_content %}
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</body>
</html>

