{% extends 'base.html' %}


{% block title %}
{{ title }}
{% endblock title %}
{% block menu %}
 <ul class="css-menu-3">
<li><a href="{% url 'list' %}">Главная</a></li>
<li><a href="{% url 'create' %}">Создать запись</a></li>
<li><a href="{% url 'email' %}">Отправить жалобу или предложение</a></li>
<ul class = 'auth'>
{% if username %}
<li><a href="{% url 'logout' %}">Выйти {{ username }}</a></li>
{% else %}
<li><a href="{% url 'login' %}">Войти</a></li>
{% endif %}
</ul>
</ul>
{% endblock menu%}


{% block article_content %}
<div class = 'col-sm-6 col-sm-offset-3'>
<h1>{{ instance.title }}</h1>
<p>{{ instance.timestamp }}</p>
{{ instance.content }}
{% if username %}
<div id='edit buttons'>
<a href = "{% url 'update' instance.id %}"><input type='submit' class='btn btn-default' value = 'Редактировать запись'></a>
<a href = "{% url 'delete' instance.id %}"><input type='submit' class='btn btn-default' value = 'Удалить запись'></a>
</div>
{% else %}
<h3>Не авторизированный пользователь не может редактировать статьи</h3>
{% endif %}

</div>
{% endblock article_content %}
